{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-language" content="pt-br">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="rating" content="general">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    <meta name="robots" content="index, follow">
    <meta name="keywords" content="">
    <meta name="theme-color" content="#b1b1b1">
    {% block meta %}{% endblock %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
    {% block style %}{% endblock %}
</head>
<body>
    <div id="loading" class="w-full h-screen flex justify-center items-center bg-white z-50 fixed">
        <div class="flex flex-col items-center text-5xl dark-gray">
            <div class="h-14 w-14 rounded-full mt-20 border-2 border-gray-200">
                <div class="w-full h-full rounded-full border-t-2 border-gray-400 animate-spin"></div>
            </div>
        </div>
    </div>

    <header>
        <nav class="w-full m-auto lg:w-9/12 flex items-center justify-between md:p-4 p-3 varela">
            <div class="flex items-center subtitle">
                <a class="flex items-center" href="/">
                    <h1><span>Magic</h1>
                </a>
            </div>
            <div class="hidden md:block">
                <div class="flex items-center">
                    <a class="nav-item mr-7" href="/cartas/">Cartas</a>
                    <a class="nav-item mr-7" href="/decks/">Decks</a>
                    {% if user.is_authenticated %}
                        <a class="nav-item mr-7" href="/{{user.username}}/">{{user.username}}</a>
                    {% else %}
                        <a class="nav-item mr-7" href="/login/">Login</a>
                        <a class="nav-item mr-7" href="/cadastrar/">Cadastrar</a>
                    {% endif %}
                </div>           
            </div>
            <div class="flex md:hidden">
                <button alt="Menu Button" class="flex focus:outline-none" id="menu-button"><svg id="hamburguer-button" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M24 18v1h-24v-1h24zm0-6v1h-24v-1h24zm0-6v1h-24v-1h24z" fill="#1040e2"/><path d="M24 19h-24v-1h24v1zm0-6h-24v-1h24v1zm0-6h-24v-1h24v1z"/></svg><svg id="close-button" width="24" height="24" xmlns="http://www.w3.org/2000/svg" fill-rule="evenodd" clip-rule="evenodd"><path d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"/></svg></button>
            </div>
        </nav>
        <div id="div-menu">
            <div class="w-full flex flex-col md:hidden text-right">
                <a class="py-4 w-11/12 m-auto" href="/cartas/">Cartas</a>
                <a class="py-4 w-11/12 m-auto" href="/decks/">Decks</a>
                {% if user.is_authenticated %}
                    <a class="py-3 w-11/12 m-auto" href="/about/">{{user.username}}</a>
                {% else %}
                    <a class="my-5 p-2 w-11/12 m-auto border-gray-400 border text-center rounded" href="/login/">Login</a>
                    <a class="mb-5 rounded p-2 w-11/12 m-auto bg-green text-white text-center" href="/cadastrar/">Cadastrar</a>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="varela px-3">    
        {% block content %}{% endblock %}
    </div>

    <footer class="px-3 md:px-28 md:py-10 py-3 varela text-white bg-black">
        <div class="flex justify-between subtitle items-center">
            <a class="flex items-center" href="/">
                <h1>Magic</h1>
            </a>
            <div class="flex items-center">
                <a href="" target="_blank" rel="noreferrer noopener" ><svg class="mr-4" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/></svg></a>
                <a href="" target="_blank" rel="noreferrer noopener"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z"/></svg></a>
            </div>
        </div>
    </footer>

    <script type="text/javascript" src="{% static 'base.js' %}"></script>
    {% block script %}{% endblock %}
</body>
</html>