{% extends 'base.html' %}
{% load static %}

{% block meta %}
    <title>Altlink | {{other_user.username}}</title>
    <meta name="description" content="Altlink - Smart links for everyone, everwhere!">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
{% endblock %}


{% block content %}
    <section class="w-full m-auto md:w-9/12 py-10 flex justify-center items-center">
        <h1 class="title">{{other_user.username}}</h1>
        {% if user.username == other_user.username %}
            <form action="" method="POST">
                {% csrf_token %}
                <button id="logout-button" class="ml-2 border border-black rounded focus:outline-none rounded p-1 px-2" name="logout" value="logout" type="submit">Sair</button>
            </form>
        {% else %}
        {% endif %}
    </section>

    <section class="w-full m-auto md:w-9/12">
        <div>
            <h1 class="subtitle mb-3">Decks de {{other_user.username}} ({{user_deck.count}})</h1>
        </div>
        {% if user_deck == 0 %}
            <div>
                <h1>Você ainda não possui nenhum deck</h1>
            </div>
        {% else %}
            <div>
                {% for user_deck in user_deck %}
                    <div>
                        <a href="/deck/{{user_deck.title}}/">
                            <div class="bg-light-gray rounded p-3">
                                <h1>{{user_deck.title}} <span class="ml-2 p-1 bg-green text-white rounded">{{user_deck.deck_format}}</span></h1>
                                <p class="text-gray-500 my-2">{{user_deck.description|truncatechars:150}}</p>
                                <div class="flex items-center">
                                    <svg class="fill-current green" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg>
                                    <p class="ml-2">{{user_deck.favorites.count}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>

    <section class="w-full m-auto md:w-9/12 my-5">
        <div>
            <h1 class="subtitle mb-3">Cartas Favoritas ({{card.count}})</h1>
        </div>
        {% if card.count == 0 %}
            <div class="flex swiper-container">
                <h1>Você ainda não possui uma carta favorita</h1>
            </div>
        {% else %}
            <div class="flex swiper-container">
                <div class="swiper-wrapper">
                    {% for card in card %}
                        <div class="swiper-slide">
                            <a href="/carta/{{card.title}}/">
                                <div>
                                    <img class="h-50" src="{{card.image}}" alt="">
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </section>

    <section class="w-full m-auto md:w-9/12 mb-10">
        <div>
            <h1 class="subtitle mb-3">Decks Favoritos ({{favorited_deck.count}})</h1>
        </div>
        {% if favorited_deck.count == 0 %}
            <div>
                <h1>Você ainda não possui nenhum deck favorito</h1>
            </div>
        {% else %}
            <div>
                {% for favorited_deck in favorited_deck %}
                    <div>
                        <a href="/deck/{{favorited_deck.title}}/">
                            <div class="bg-light-gray rounded p-3">
                                <h1>{{favorited_deck.title}} <span class="ml-2 p-1 bg-green text-white rounded">{{favorited_deck.deck_format}}</span></h1> 
                                <p class="text-gray-500 my-2">{{favorited_deck.description|truncatechars:150}}</p>
                                <div class="flex items-center">
                                    <svg class="fill-current green" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24"><path d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/></svg>
                                    <p class="ml-2">{{favorited_deck.favorites.count}}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </section>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'user.js' %}"></script>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script type="module">
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 7,
            spaceBetween: 12,
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    </script>
{% endblock %}